.navbar-links{

    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(3, minmax(250px, 10fr));
    grid-gap: 20px;
    list-style: none;
    color: black;
    
    
}

.navbar-links li a{
    color: black;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1rem;
    text-decoration: black underline;

}
.navbarr-links__first-item{
    grid-column: span 10 ;
    justify-self: end;
}

@media screen and (max-width: 670px) {
    .navbar-links{

        display: none;
        
        
    }
    
}