
.listItems{

    list-style: none;
    line-height: 5px;  
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;


  
}
img{
   
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 250px;
    border-radius: 5px;
    
    
   

}

h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h3{
    font-weight: lighter;
}
