
.listItems{

    list-style: none; 
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    line-height: 5px;


  
}
img{
   
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 250px;
    border-radius: 5px;
    
    
   

}

.product-name{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: small;
}

.price{
    font-weight: 5px;
}
